@font-face {
    font-family: vzr;
    src: url('Vazir.woff');
}
@font-face {
    font-family: mvzr;
    src: url('Vazir-Code.woff');
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: vzr;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
}
#supru{
    background-color: #43A047;
    background-image: url('supre.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
    width: 100%;
}
#malsupru{
    background-color: #43A047;
    background-image: url('malsupre.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
    width: 60%;
}
#dekstru{
    background-color: #43A047;
    background-image: url('dekstre.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
    width: 20%;
}
#maldekstru{
    background-color: #43A047;
    background-image: url('maldekstre.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
    width: 20%;
}
#inline{
    width: 100vw;
    height: 10vh;
    border-spacing: 0px;
}
#mapo{
    background-color: #212121;
    height: 60vh;
    max-height: 60vh;
    width: 100%;
    border-spacing: 1px;
    font-family: mvzr;
    font-size: calc(2.41vh);
    table-layout:fixed;
    *word-break:break-word;
}
td{
    text-align: center;
    max-height: 12vh;
    width: calc(20vw - 1px);
    white-space: nowrap;
    overflow: hidden;
}
.nigra{
    background-color: #424242;
    color: white;
}
.griza{
    background-color: #9e9e9e;
}
.neniu{
    background-color: #9e9d24;
}
.natura{
    background-color: white;
}
#informoj{
    background-color: #212121;
    color: white;
    height: 12vh;
    width: 100%;
    line-height: 5vh;
    text-align: center;
    font-size: calc(1.3vh + 2.4vw);
    direction: rtl;
}
#agoj{
    background-color: #212121;
    *color: white;
    height: 8vh;
    width: 100%;
    text-align: center;
    font-size: calc(1.3vh + 2.4vw);
    direction: rtl;
}
ujo{
    height: 100vh;
    width: 100vw;
    background-color: #eeeeee;
    align-content: center;
    vertical-align: middle;
    direction: rtl;
}
input[type="text"], input[type="password"], input[type="number"]{
    display: block;
    direction: ltr;
    padding-left: 5px;
    margin-right: 10vw;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #212121;
    height: calc(8vh + 3vw);
    width: 70vw;
    font-size: calc(8vh + 2vw);
    background-color: #424242;
    color: #fff;
}
label{
    padding-right: 3vw;
    font-size: calc(3vh + 2vw);
}
.formgrupo{
    margin-top: 3vh;
}
#ensalutu{
    background-color: #424242;
    color: #fff;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 3vh;
    font-size: calc(4vh + 4vw);
    padding: 10px 0px;
    box-shadow: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22);
}
form{
    background-color: #bdbdbd;
    padding-top: calc(10vh - 6vw);
    height: 100%;
}
a{
    text-decoration: none;
    padding-right: 3vw;
    font-size: calc(2.7vh + 1.8vw);
    color: #212121;
}
#iri{
    background-color: #212121;
    color: white;
    width: 100%;
    position: relative;
    right: 0px;
}
#x, #y{
    display: inline;
    width: 20vw;
    line-height: 10vh;
    background-color: #424242;
    height: calc(100% - 2px);
    border-width: 0px;
    color: #fff;
    margin-right: 7vw;
    font-size: calc(3vh + 2vw);
}
#iri > #poz > label{
    display: inline;
    padding-left: 3vw;
    vertical-align: bottom;
}
#iru{
    background-color: #43A047;
    color: #fff;
    font-size: calc(3vh + 3vw);
    font-family: vzr;
    text-align: center;
    margin-top: 3vh;
}
#fermu{
    background-color: #212121;
    color: #fff;
    font-size: calc(3vh + 3vw);
    font-family: vzr;
    text-align: center;
}
#poz{
    text-align: center;
}
#informoj > a{
    line-height: 0px;
    padding-right: 0px;
    color: #fff;
    font-size: calc(1.5vh + 2.2vw);
}
@keyframes montri_kasxi{
    0%{
	transform: none;
	opacity: 0;
    }
    40%{
	transform: translate(0px,-10vh);
	opacity:1;
    }
    80%{
	transform: translate(0px,-10vh);
	opacity:1;
    }
    100%{
	transform: none;
	opacity: 0;
    }
}
@keyframes montri{
    0%{
	transform: none;
	opacity: 0;
    }
    100%{
	transform: translate(0px,-10vh);
	opacity:1;
    }
}
@keyframes kasxi{
    0%{
	transform: translate(0px,-10vh);
	opacity:1;
    }
    100%{
	transform: none;
	opacity: 0;
    }
}
#informo{
    display: none;
    position: absolute;
    top: 40vh;
    right: 0px;
    font-size: 5vh;
    width: 100vw;
    padding-right: 10vw;
    direction: rtl;
    text-align: right;
    color: #43A047;
    background-color: #212121;
    text-align: right;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-name: montri_kasxi;
    animation-name: montri_kasxi;
    
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;

    transition: montri_kasxi 0s linear;
}
#prompto{
    display: none;
    position: absolute;
    bottom: 25vh;
    right: 0px;
    font-size: 5vh;
    width: 100vw;
    color: #43A047;
    background-color: #212121;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: right;
    padding-top: 5vh;
}
.montri{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-name: montri;
    animation-name: montri;
    
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;

    transition: montri 0s linear;
}
.kasxi{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-name: kasxi;
    animation-name: kasxi;
    
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;

    transition: kasxi 0s linear;
}
.argxenta_minajxo{
    background-color: #e0e0e0;
    color: #212121
}
.ora_minajxo{
    background-color: #FDD835;
    color: #212121
}
.acxetebla{
    background-color: #e0e0e0;
    direction: rtl;
    margin-top: 2vh;
    color: #212121;
    padding-right: 3vw;
}
.rtl{
    direction:rtl;
}
input#oro{
    width: 80vw;
    margin-right: 0px;
    height: auto;
}
.titlo{
    font-size: 6vw;
    padding-right: 3vw;
    color: #fff;
}
.ora{
    color:#FDD835;
}
.baskulebla{
    border: 2px solid #FFB300;
    color: #fff;
    border-radius: 12px;
    padding: 1vh !important;
    margin-right: 3vw;
}
#saltu{
    background-color: green;
    color: #fff;
    border-radius: 5px;
    padding: 1vh 3vw !important;
    margin-right: 3vw;
    margin-left: 1vw;
}
.muro{
    background-image: url('muro.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}